<div class ='columns'>
  <div class="field">
    <%= f.label :Etapes %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :Note %><br />
    <%= f.text_field :notes %>
  </div>

  <div class="field">
    <%= f.label :Duree %><br />
    <%= f.number_field :staying_time, in: 1..31, step: 1 %>
  </div>


    <%= link_to_remove_nested(f, link_text: 'Destroy', fields_wrapper_selector: '.columns') %>

  <% if params[:dynamic_form] == '1' %>
    <%= link_to_remove_nested(f, link_text: 'Destroy', fields_wrapper_selector: '.columns') %>
  <% else %>
    <% if f.object.persisted? %>
        <%= f.input :_destroy, as: :boolean, label: 'Destroy' %>
    <% end %>
  <% end %>
</div>

