<div class="card-itinerary background-green d-flex flex-column">
    <div class="cityMapContainer_<%= i %>"></div>
    <div class="city"><p><%= d.city %></p></div>
    <p><%= d.notes %></p>
    <p><%= d.staying_time %></p>
  <%= link_to "Edit Profile", edit_itinerary_destination_path(@itinerary, @itinerary.destinations[i]), class:"btn btn-secondary background-sand text-dark border-0"%>
  </div>

