
<div class="field">
    <%= f.text_field :title, class: "field-new-iti", placeholder: "Title" %>
  </div>

<%= f.fields_for :destinations do |fd| %>
  <div>
  <%= render partial: 'destination_fields', locals: { f: fd } %>
</div>
<% end %>
<div>
  <% if params[:dynamic_form] == '1' %>
    <%= link_to_add_nested(f, :destinations, '#nested_destinations', partial_form_variable: :f) %>
  <% else %>
    <%= button_tag 'Add destination', type: 'submit', name: 'commit', value: 'add_destination', class: "background-sand border-0 rounded mt-3" %>
  <% end %>
  </div>


