<%= form_with model: @itinerary do |f| %>

  <div class="field">
    <%= f.label :Titre %><br />
    <%= f.text_field :title %>
  </div>
   <div id="duplicate-1" class="duplid">
    <%= f.fields_for :destinations do |destination_field| %>
      <div class="field ">
        <%= destination_field.label :Etapes, "Etape 1" %><br />
        <%= destination_field.text_field :city %>
      </div>

      <div class="field">
        <%= destination_field.label :Note %><br />
        <%= destination_field.text_field :notes %>
      </div>

      <div class="field">
        <%= destination_field.label :Duree %><br />
        <%= destination_field.number_field :staying_time, in: 1..31, step: 1 %>
      </div>
    <% end %>
  </div>
  <button id="bt-duplicate">+</button>

  <div class="field">
    <%= f.label :Date %><br />
    <%= f.date_field :start_date %>
  </div>

   <div class="field">
    <%= f.label :Date %><br />
    <%= f.date_field :end_date %>
  </div>
 
  <div class="actions">
    <%= f.submit "Créer" %>
  </div>
<% end %>




<!-- Interactive Map -->
<div id='map' style='width: 25vh; height: 25vh;'></div>
<%= javascript_include_tag 'map' %>
<!-- End Interactive Map -->
<%= javascript_include_tag 'duplicate' %>
