<div class="jumbotron background-image-banner"></div>
<h1><%= @itinerary.title %>'s roadtrip by <%= link_to "#{@itinerary.user.first_name}", user_path(@itinerary.user) %></h1><br>
<p> From <%= @start_date %> to <%= @end_date %></p>
<% @itinerary.destinations.each_with_index do |d, i| %>
<%= render partial: 'destination_card', locals: { d: d, i: i } %>
<% end %>
<p>Total days: <%= @itinerary.total_staying_time %> days</p>

  <%= link_to "Edit Profile", edit_itinerary_path(@itinerary), class:"btn btn-secondary background-sand text-dark border-0"%>
<div class="filler"></div>

