<div class="jumbotron background-image-banner d-flex align-items-center justify-content-center">
  <div class="background-sand text-dark rounded text-center w-50">
    <h1><%= @itinerary.title %>'s roadtrip by <%= link_to "#{@itinerary.user.first_name}", user_path(@itinerary.user), class: "text-dark" %></h1>
    <p>From <%= @itinerary.start_date.strftime("%d/%m/%Y") %> to <%= @itinerary.end_date.strftime("%d/%m/%Y") %></p>
    <p>Total days: <%= @itinerary.total_staying_time %> days</p>
    <!-- Likes -->
    <div class="d-flex justify-content-center">
      <p><%= @itinerary.likes.count %><%= (@itinerary.likes.count) == 0 || 1? 'Like' : 'Likes' %></p>
      <div class="ms-2">
      <%if current_user%>
        <% if @like.nil? %>
          <%= button_to "Like", likes_path, params: { like: {itinerary_id: @itinerary.id}}, method: :post %>
        <% else %>
          <%= button_to "Unlike", like_path(@like), method: :delete %>
        <% end %>
      <%end%>
      </div>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-center">
  <%= link_to "Add destination", new_itinerary_destination_path(@itinerary), class:"btn btn-secondary background-sand text-dark border-0 shadow mt-1 w-25"%>
  </div>
<div class="d-flex flex-wrap m-5 text-center justify-content-center ">
<% @itinerary.destinations.each_with_index do |d, i| %>
<%= render partial: 'destination_container', locals: { d: d, i: i } %>

<% end %>
</div>


<div class="filler d-flex justify-content-end align-items-end">
    <%= link_to "Edit Itinerary", edit_itinerary_path(@itinerary), class:"btn btn-secondary background-sand text-dark border-0 shadow m-2" %>
    <%= button_to "Delete Itinerary", itinerary_path(@itinerary), method: :delete, class:"btn btn-secondary background-sand text-dark border-0 shadow m-2" %>
</div>

