<div class="jumbotron background-image-banner d-flex align-items-start ">
  <div class="col-3 card-user">
    <div class="d-flex justify-content-center">
    <%= image_tag("png-clipart-apple-icon-format-icon-person-outline-white-monochrome.png", :class => "img-avatar") %>
    </div>

    <p>First Name : <%=@user.first_name%></p>
    <p>Last Name : <%=@user.last_name%></p>
    <p id="city">City : <%=@user.city%></p>
    <p>Zip Code: <%=@user.zipcode%></p>
    <%if current_user == @user%>
      <p>E-mail : <%=@user.email%></p>
      <%=link_to "Edit", edit_user_registration_path%>
    <%end%>
    <%= javascript_include_tag 'static_user' %>

    <div id="cityMapContainer"></div>
  </div>
</div>

<%@user.itineraries.each do |i|%>
  <%if i.start_date%>
    <p><%=i.title%> starting on <%=i.start_date%></p>
  <%else%>
    <p><%=i.title%> starting on <%= Date.today%></p>
  <%end%>

  <li>Departure: <%=i.destinations[0].city%></li>
  <li>Arrival :  <%=i.destinations[-1].city%></li><br>
  <br>
<%end%>
