<h1>Profile</h1>
<p>First Name : <%=@user.first_name%></p>
<p>Last Name : <%=@user.last_name%></p>
<p>E-mail : <%=@user.email%></p>
<p>City : <%=@user.city%></p>
<p>Zip Code: <%=@user.zipcode%></p>

<h2>Roadtrips</h2>
<%@user.itineraries.each do |i|%>
  <%if i.start_date%>
    <p><%=i.title%> starting on <%=i.start_date%></p>
  <%else%>
    <p><%=i.title%> starting on <%= Date.today%></p>
  <%end%>

  <%i.destinations.each do |d|%>
    <%=d.city%><br>
  <%end%>
  <br>
<%end%>
