<body>
<main>
  <div class="d-flex justify-content-center h-100">
    <div class="d-flex card card-form mt-5 background-sand shadow border-0 col-md-4 offset-md-3 col-sm-10 offset-sm-1 col-12 align-items-center ms-0">
      <p class="form-title">Sign in to your account</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password" , class: "form-control", placeholder: "Enter Password"%>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me%>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div class="d-flex mt-2 justify-content-center">
          <%= f.submit "Log in", class: "background-light-grey rounded shadow border-0 btn-hover w-50 py-1" %>
        </div>
      <% end %>
      <div >
        <p>No account ? <a><%=render "devise/shared/links"%></a></p>
      </div>
    </div>
  </div>
</main>
</body>