<% content_for :title, "Edit destination" %>
<% content_for :meta_description, "Edit my destination" %>

<h1>Edit Destination</h1>

<%= form_with(model: [@itinerary, @destination], local: true) do |form| %>
  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
      <% @destination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :staying_time %>
    <%= form.text_field :staying_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

