<!-- Partial for Itinerary Card -->

<div class="card-itinerary background-light-grey shadow-sm overflow-hidden justify-content-center">
  <%= image_tag("ajaccio.jpeg", :class => "img-destination w-100", :alt => "image destination ajaccio") %>
  <div class="text-center text-truncate">
    <h3><%=i.title%></h3>
  </div>
  <div class="text-center">
    <p><%= i.destinations[0].city %> ➜ <%= i.destinations[-1].city %></p>
  </div>
  <div class="d-flex justify-content-around">
    <div class="d-flex justify-content-center align-items-center gap-class">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M12 7V12L14.5 10.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      <p class="m-0"><%= i.destinations.sum(:staying_time)%>days</p>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-class">
      <svg height="16" width="16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 166.418 166.418" xml:space="preserve" fill="#000000" stroke="#000000" stroke-width="1.1649260000000001"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path style="fill:#000002;" d="M83.209,166.418c-7.121,0-13.11-4.387-15.258-11.176l-3.572-11.285 c-5.089-16.083-13.75-31.047-25.742-44.478c-9.853-11.036-15.236-25.269-15.156-40.078c0.086-15.993,6.312-30.945,17.53-42.102 C52.229,6.144,67.215,0,83.209,0c32.934,0,59.728,26.794,59.728,59.729c0,15.138-5.676,29.576-15.982,40.657 c-11.19,12.03-19.574,26.691-24.917,43.575l-3.57,11.281C96.319,162.031,90.33,166.418,83.209,166.418z M83.209,5 C52.685,5,28.645,28.908,28.481,59.429c-0.073,13.568,4.858,26.61,13.886,36.721c12.465,13.961,21.475,29.538,26.779,46.3 l3.572,11.285c1.793,5.665,6.595,7.684,10.492,7.684c3.896,0,8.698-2.019,10.491-7.684l3.57-11.281 c5.568-17.597,14.324-32.896,26.023-45.474c9.443-10.151,14.644-23.381,14.644-37.251C137.937,29.551,113.387,5,83.209,5z M83.209,91.996c-18.188,0-32.984-14.797-32.984-32.984c0-18.188,14.797-32.985,32.984-32.985c18.188,0,32.985,14.797,32.985,32.985 C116.194,77.199,101.397,91.996,83.209,91.996z M83.209,31.026c-15.431,0-27.984,12.554-27.984,27.985 c0,15.431,12.554,27.984,27.984,27.984c15.431,0,27.985-12.554,27.985-27.984C111.194,43.58,98.64,31.026,83.209,31.026z"></path> </g></svg>
      <p class="m-0"><%= i.destinations.length %></p>
    </div>
    <div class="d-flex justify-content-center align-items-center gap-class">
    <svg width="16" height="16" viewBox="0 -5.37 77.646 77.646" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <defs> <linearGradient x1="1.044" y1="0.005" x2="0.413" y2="0.749" gradientUnits="objectBoundingBox"> <stop offset="0" stop-color="#ff7471"></stop> <stop offset="1" stop-color="#ff5245"></stop> </linearGradient> </defs> <g data-name="heart red" transform="translate(-263.982 -435.283)"> <g data-name="Group 25"> <path data-name="Path 69" d="M302.81,446.03c-.059-.106-.128-.2-.187-.307.059.1.128.2.187.307Z" fill="none"></path> <path data-name="Path 70" d="M341.628,456.395l-.025-.006c.006-.142.025-.279.025-.431a20.662,20.662,0,0,0-37.039-12.611.171.171,0,0,0-.024-.007,2.169,2.169,0,0,1-3.54-.046l-.035.008a20.657,20.657,0,0,0-37,12.656c0,.147.018.282.018.424l-.029.013s0,.5.1,1.413a20.552,20.552,0,0,0,.6,3.364c1.608,6.945,6.938,20.286,24.659,32.122,10.242,6.879,12.73,8.743,13.383,8.867.031.006.048.033.083.033s.058-.033.094-.043c.7-.162,3.265-2.071,13.359-8.857,16.931-11.313,22.555-24,24.428-31.163a20.743,20.743,0,0,0,.854-4.546C341.623,456.824,341.628,456.395,341.628,456.395ZM302.81,446.03h0c-.059-.1-.128-.2-.187-.307C302.682,445.825,302.751,445.924,302.81,446.03Z" fill="#ff5245"></path> </g> <path data-name="Path 71" d="M295.337,474.437c-5.407-20.228,1.411-28.894,5-31.889a20.747,20.747,0,0,0-6.426-5.077c-6.5-1.416-15.583.295-21.458,16.921-1,3.4-1.458,11.938-.492,22.426a65.334,65.334,0,0,0,17.38,16.476c10.242,6.879,12.73,8.743,13.383,8.867.031.006.048.033.083.033s.058-.033.094-.043a2.946,2.946,0,0,0,.76-.373C301.6,496.005,298.749,487.182,295.337,474.437Z" fill="url(#linear-gradient)"></path> </g> </g></svg>
    <p class="m-0"><%= i.likes.count %></p>
    </div>
  </div>
  <div class="d-flex justify-content-center my-2">
    <div class="button-card">
      <div class="text-button">
      <span><%= link_to "GO !", itinerary_path(i), class: "text-dark text-decoration-none" %></span>
      </div>
      <div class="clone">
      <span><%= link_to "GO !", itinerary_path(i), class: "text-dark text-decoration-none" %></span>
      </div>
      <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="20px">
      <path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
      </svg>
    </div>
  </div>
</div>
