<nav class="navbar navbar-expand-md bg-transparent">

  <div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav me-auto mb-2 mb-md-0">
    <div class="btn-group dropend">
      <button type="button" class="btn btn-secondary background-sand text-dark border-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Create/View Roadtrips
      </button>
      <ul class="dropdown-menu dropdown-menu-start">
        <li><%= link_to "Create a Roadtrip", new_itinerary_path, class: "dropdown-item"%></li>
        <li><%= link_to "Check all Roadtrips", itineraries_path, class: "dropdown-item"%></li>
      </ul>
    </div>
  </ul>
    <div class="container-fluid d-flex justify-content-center align-items-center">
    <%= link_to root_path, class: "navbar-brand text-center" do %>
      <%= image_tag("dreamdriver.png", :class => "logo-website") %>
      <%end%>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


    <% if user_signed_in? %>
      <div class="btn-group dropstart">
        <!-- Dropdown à gauche -->
        <button type="button" class="btn btn-secondary background-sand text-dark border-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Profile/Logout
        </button>
        <ul class="dropdown-menu dropdown-menu-start">
          <li><%= link_to "Profile", user_path(current_user), class: "dropdown-item"%></li>
          <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %></li>
        </ul>
      </div>
    <% else %>
      <div class="btn-group dropstart">
        <!-- Dropdown à gauche -->
        <button type="button" class="btn btn-secondary background-sand text-dark border-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Login/Signup
        </button>
        <ul class="dropdown-menu dropdown-menu-start">
          <li><%= link_to "Sign in", new_user_session_path, class: "dropdown-item"%></li>
          <li><%= link_to "Sign up", new_user_registration_path, class: "dropdown-item"%></li>
        </ul>
      <% end %>
      </div>
    </div>
  </div>
</nav>
